body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.px1 {
  padding-left: 1rem;
  padding-right: 1rem;
}

.mt2 {
  margin-top: 2rem;
}

.todo {
  margin-bottom: 1rem;
}

.todo.completed span {
  text-decoration: line-through;
}
.add-button{
    margin-right: 10px;
    margin-left: 10px;
}

.todo label {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 1rem;
  background: #f3f3f3f3;
  font-size: 18px;

}
.todo label span {
    margin-right: 10px;

}

.todo i {
  z-index: 2;
}

.input-field{
width: 100%;
}

.add-container{
  display: flex;
    align-items: center;
    width: 100%;
}
